In [9]:

import pandas as pd
import numpy as np

StMarks = pd.read_csv("studentData.csv")
print(StMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440         NaN    NaN
1      2      Tejasv modi          501             390         NaN    NaN
2      3  Shreya Acharaya          502             400         NaN    NaN
3      4             Uzma          503             400         NaN    NaN
4      5             Diya          504             360         NaN    NaN
5      6       smit joshi          500             440         NaN    NaN
6      7      Tejasv modi          501             390         NaN    NaN
7      8  Shreya Acharaya          502             400         NaN    NaN
8      9             Uzma          503             400         NaN    NaN
9     10             Diya          504             360         NaN    NaN
10    11       smit joshi          500             440         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [47]:
new_product=StMarks.dropna()
print(new_product)
fill_na = StMarks.fillna(111)
print(fill_na)
StMarks["Total Marks"].fillna(555,inplace=True)
print(StMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage Grade
0      1       smit joshi          500             440   88.000000     A
1      2      Tejasv modi          501             390   77.844311     B
2      3  Shreya Acharaya          502             400   79.681275     B
3      4             Uzma          503             400   79.522863     B
4      5             Diya          504             360   71.428571     B
5      6       smit joshi          500             440   88.000000     A
6      7      Tejasv modi          501             390   77.844311     B
7      8  Shreya Acharaya          502             400   79.681275     B
8      9             Uzma          503             400   79.522863     B
9     10             Diya          504             360   71.428571     B
10    11       smit joshi          500             440   88.000000     A
11    12      Tejasv modi          501             390   77.844311     B
12    13  Shreya Acharaya          502             400   79.681275     B
13    14             Uzma          503             400   79.522863     B
14    15             Diya          504             360   71.428571     B
    srNo             Name  Total Marks  Obtained marks  Percentage Grade
0      1       smit joshi          500             440   88.000000     A
1      2      Tejasv modi          501             390   77.844311     B
2      3  Shreya Acharaya          502             400   79.681275     B
3      4             Uzma          503             400   79.522863     B
4      5             Diya          504             360   71.428571     B
5      6       smit joshi          500             440   88.000000     A
6      7      Tejasv modi          501             390   77.844311     B
7      8  Shreya Acharaya          502             400   79.681275     B
8      9             Uzma          503             400   79.522863     B
9     10             Diya          504             360   71.428571     B
10    11       smit joshi          500             440   88.000000     A
11    12      Tejasv modi          501             390   77.844311     B
12    13  Shreya Acharaya          502             400   79.681275     B
13    14             Uzma          503             400   79.522863     B
14    15             Diya          504             360   71.428571     B
    srNo             Name  Total Marks  Obtained marks  Percentage Grade
0      1       smit joshi          500             440   88.000000     A
1      2      Tejasv modi          501             390   77.844311     B
2      3  Shreya Acharaya          502             400   79.681275     B
3      4             Uzma          503             400   79.522863     B
4      5             Diya          504             360   71.428571     B
5      6       smit joshi          500             440   88.000000     A
6      7      Tejasv modi          501             390   77.844311     B
7      8  Shreya Acharaya          502             400   79.681275     B
8      9             Uzma          503             400   79.522863     B
9     10             Diya          504             360   71.428571     B
10    11       smit joshi          500             440   88.000000     A
11    12      Tejasv modi          501             390   77.844311     B
12    13  Shreya Acharaya          502             400   79.681275     B
13    14             Uzma          503             400   79.522863     B
14    15             Diya          504             360   71.428571     B

/tmp/ipykernel_5424/993186263.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  StMarks["Total Marks"].fillna(555,inplace=True)

In [18]:
mean = np.mean(StMarks["Obtained marks"])
print(mean)

398.0

In [22]:
median = StMarks["Obtained marks"].median()
print(median)
mode = StMarks["Obtained marks"].mode()
print(mode)

400.0
0    400
Name: Obtained marks, dtype: int64

In [25]:
StMarks.sort_values(["Obtained marks"],ascending=0)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440         NaN    NaN
5      6       smit joshi          500             440         NaN    NaN
10    11       smit joshi          500             440         NaN    NaN
2      3  Shreya Acharaya          502             400         NaN    NaN
3      4             Uzma          503             400         NaN    NaN
7      8  Shreya Acharaya          502             400         NaN    NaN
8      9             Uzma          503             400         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
1      2      Tejasv modi          501             390         NaN    NaN
6      7      Tejasv modi          501             390         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
4      5             Diya          504             360         NaN    NaN
9     10             Diya          504             360         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [28]:
StMarks["Percentage"]=(StMarks["Obtained marks"]*100/StMarks["Total Marks"])
print(StMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440   88.000000    NaN
1      2      Tejasv modi          501             390   77.844311    NaN
2      3  Shreya Acharaya          502             400   79.681275    NaN
3      4             Uzma          503             400   79.522863    NaN
4      5             Diya          504             360   71.428571    NaN
5      6       smit joshi          500             440   88.000000    NaN
6      7      Tejasv modi          501             390   77.844311    NaN
7      8  Shreya Acharaya          502             400   79.681275    NaN
8      9             Uzma          503             400   79.522863    NaN
9     10             Diya          504             360   71.428571    NaN
10    11       smit joshi          500             440   88.000000    NaN
11    12      Tejasv modi          501             390   77.844311    NaN
12    13  Shreya Acharaya          502             400   79.681275    NaN
13    14             Uzma          503             400   79.522863    NaN
14    15             Diya          504             360   71.428571    NaN

In [34]:
# a-80-100
# b-60-80
# c-40-60
# d-40-20

def assign_grade(Percentage):
    if Percentage >= 80 and Percentage <=100:
        return 'A'
    elif Percentage >= 60 and Percentage <=80:
        return 'B'
    elif Percentage >= 40 and Percentage <=60:
        return 'C'
    elif Percentage >= 40 and Percentage <=20:
        return 'D'
    else :
        return 'F'
StMarks["Grade"]=StMarks['Percentage'].apply(assign_grade)
StMarks

    srNo             Name  Total Marks  Obtained marks  Percentage Grade
0      1       smit joshi          500             440   88.000000     A
1      2      Tejasv modi          501             390   77.844311     B
2      3  Shreya Acharaya          502             400   79.681275     B
3      4             Uzma          503             400   79.522863     B
4      5             Diya          504             360   71.428571     B
5      6       smit joshi          500             440   88.000000     A
6      7      Tejasv modi          501             390   77.844311     B
7      8  Shreya Acharaya          502             400   79.681275     B
8      9             Uzma          503             400   79.522863     B
9     10             Diya          504             360   71.428571     B
10    11       smit joshi          500             440   88.000000     A
11    12      Tejasv modi          501             390   77.844311     B
12    13  Shreya Acharaya          502             400   79.681275     B
13    14             Uzma          503             400   79.522863     B
14    15             Diya          504             360   71.428571     B

In [36]:
import pandas as pd

# Create data as a list of dictionaries
data = [
    {"CustomerId": 15634602, "Surname": "Hargrave", "Geography": "France", "Gender": "Female", "Age": 42, "Balance": 0, "Tenure": 2, "NumOfProducts": 1, "HasCrCard": 1, "IsActiveMember": 1, "EstimatedSalary": 101348.88},
    {"CustomerId": 15647311, "Surname": "Hill", "Geography": "Spain", "Gender": "Male", "Age": 41, "Balance": 12000, "Tenure": 1, "NumOfProducts": 1, "HasCrCard": 0, "IsActiveMember": 1, "EstimatedSalary": 112542.58},
    {"CustomerId": 15619304, "Surname": "Onio", "Geography": "France", "Gender": "Female", "Age": 41, "Balance": 25000, "Tenure": 8, "NumOfProducts": 2, "HasCrCard": 1, "IsActiveMember": 0, "EstimatedSalary": 113931.57},
    {"CustomerId": 15701354, "Surname": "Boni", "Geography": "France", "Gender": "Male", "Age": 39, "Balance": 15000, "Tenure": 1, "NumOfProducts": 2, "HasCrCard": 1, "IsActiveMember": 1, "EstimatedSalary": 93826.63},
    {"CustomerId": 15737888, "Surname": "Mitchell", "Geography": "Spain", "Gender": "Female", "Age": 43, "Balance": 18000, "Tenure": 2, "NumOfProducts": 1, "HasCrCard": 0, "IsActiveMember": 1, "EstimatedSalary": 79084.10},
    {"CustomerId": 15574012, "Surname": "Chu", "Geography": "France", "Gender": "Male", "Age": 44, "Balance": 6500, "Tenure": 8, "NumOfProducts": 2, "HasCrCard": 1, "IsActiveMember": 0, "EstimatedSalary": 10062.80},
    {"CustomerId": 15592531, "Surname": "Bartlett", "Geography": "Germany", "Gender": "Female", "Age": 50, "Balance": 9800, "Tenure": 7, "NumOfProducts": 2, "HasCrCard": 1, "IsActiveMember": 1, "EstimatedSalary": 119346.88},
    {"CustomerId": 15656148, "Surname": "Obinna", "Geography": "Germany", "Gender": "Male", "Age": 29, "Balance": 7200, "Tenure": 4, "NumOfProducts": 2, "HasCrCard": 1, "IsActiveMember": 1, "EstimatedSalary": 74940.50},
    {"CustomerId": 15792365, "Surname": "He", "Geography": "France", "Gender": "Female", "Age": 44, "Balance": 5800, "Tenure": 6, "NumOfProducts": 1, "HasCrCard": 1, "IsActiveMember": 0, "EstimatedSalary": 71725.73},
    {"CustomerId": 15592389, "Surname": "H?", "Geography": "Spain", "Gender": "Female", "Age": 27, "Balance": 0, "Tenure": 3, "NumOfProducts": 1, "HasCrCard": 1, "IsActiveMember": 0, "EstimatedSalary": 0}
]

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("customer_data.csv", index=False)

print("CSV file created successfully!")

CSV file created successfully!

In [38]:
customer = pd.read_csv("customer_data.csv")
print(customer)

   CustomerId   Surname Geography  Gender  Age  Balance  Tenure  \
0    15634602  Hargrave    France  Female   42        0       2
1    15647311      Hill     Spain    Male   41    12000       1
2    15619304      Onio    France  Female   41    25000       8
3    15701354      Boni    France    Male   39    15000       1
4    15737888  Mitchell     Spain  Female   43    18000       2
5    15574012       Chu    France    Male   44     6500       8
6    15592531  Bartlett   Germany  Female   50     9800       7
7    15656148    Obinna   Germany    Male   29     7200       4
8    15792365        He    France  Female   44     5800       6
9    15592389        H?     Spain  Female   27        0       3

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0              1          1               1        101348.88
1              1          0               1        112542.58
2              2          1               0        113931.57
3              2          1               1         93826.63
4              1          0               1         79084.10
5              2          1               0         10062.80
6              2          1               1        119346.88
7              2          1               1         74940.50
8              1          1               0         71725.73
9              1          1               0             0.00

In [41]:
# 1
customer.tail(5)

,CustomerId,Surname,Geography,Gender,Age,Balance,Tenure,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
5,15574012,Chu,France,Male,44,6500,8,2,1,0,10062.80
6,15592531,Bartlett,Germany,Female,50,9800,7,2,1,1,119346.88
7,15656148,Obinna,Germany,Male,29,7200,4,2,1,1,74940.50
8,15792365,He,France,Female,44,5800,6,1,1,0,71725.73
9,15592389,H?,Spain,Female,27,0,3,1,1,0,0.00

In [44]:
# 2
customer.columns

Index(['CustomerId', 'Surname', 'Geography', 'Gender', 'Age', 'Balance',
       'Tenure', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary'],
      dtype='object')

In [50]:
# 3
customer.drop("Surname",axis=1,inplace=True)
print(customer.head(1))

KeyError: "['Surname'] not found in axis"

In [53]:
# 4
newDB = customer[["Age","Gender","Balance"]]
print(newDB)

   Age  Gender  Balance
0   42  Female        0
1   41    Male    12000
2   41  Female    25000
3   39    Male    15000
4   43  Female    18000
5   44    Male     6500
6   50  Female     9800
7   29    Male     7200
8   44  Female     5800
9   27  Female        0

In [55]:
# 5
missingValues = customer.isnull().sum()
print(missingValues)

CustomerId         0
Geography          0
Gender             0
Age                0
Balance            0
Tenure             0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [62]:
# 6
conditionOutput = customer[customer["Balance"].between(8000, 10000,inclusive='both')]
conditionOutput

,CustomerId,Geography,Gender,Age,Balance,Tenure,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6,15592531,Germany,Female,50,9800,7,2,1,1,119346.88

In [66]:
# 7
category_counts = df['Geography'].value_counts()
print(category_counts)

Geography
France     5
Spain      3
Germany    2
Name: count, dtype: int64

In [ ]:
# 8